{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!
{% endblock %}

{% block body %}
	<div class="home">
		<h1>Home</h1>
		<hr>

		<form action="">
			<input type="text" name="address" id="address">
			<button type="submit" class="btn btn-primary">Search</button>
		</form>

		<div id="map"></div>

	</div>
{% endblock %}
