{% extends 'base.html.twig' %}

{% block title %}Orders!
{% endblock %}

{% block body %}

	<h1>Orders</h1>

	<div class="orders">
		{% for order in orders %}
			<h4>Order number:
				{{order.orderNumber}}</h4>
			<h5 class="text-warning">${{order.price}}</h5>
			<h6>Creation:
				{{order.createdAt|date('d/m/y')}}</h6>
			<h6>Status:
				{{order.status}}</h6>

		{% endfor %}
	</div>

{% endblock %}
